:root {
    --cls-orange: hsl(15, 63%, 60%);
    --cls-black: ;
    --cls-black: #262624;
    --cls-white: #ffffff;
    --cls-beige: #faf9f5;

    --ff-regular: 'Roboto Mono', monospace;
    --fz-regular: 16px;
    --fw-regular: 400;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cls-white);
    font-family: var(--ff-regular);
}

body {
    height: 100vh;
    background-color: var(--cls-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fz-regular);
    font-weight: var(--fw-regular);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#generation_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size,
#generate_board_btn,
#generate_boat_btn {
    background-color: transparent;
    border: #3e3e38 solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.size {
    width: 60px;
}

.size::-webkit-outer-spin-button,
.size::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#generate_board_btn,
#generate_boat_btn {
    background-color: var(--cls-orange);
    transition: all 0.2s ease-in-out;
}

#generate_board_btn:hover,
#generate_boat_btn:hover {
    background-color: #c76f52;
}

#grid_container,
#boat_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: 5px;
}

.boat {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(var(--boat-columns), 1fr);
    grid-template-rows: repeat(var(--boat-rows), 1fr);
    gap: 5px;
}

.grid-row,
.boat-row {
    display: contents;
}

.grid-cell,
.boat-cell {
    font-size: 150%;
    color: white;
    width: 50px;
    height: 50px;
    background-color: var(--cls-beige);
    border: 1px solid var(--cls-black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.grid-cell:hover,
.boat-cell:hover {
    background-color: var(--cls-orange);
}

#boat_generation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}